---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;

const currentYear = new Date().getFullYear();
const yearsOfExperience = currentYear - 2021;

const processedSummary = summary.replace(/\{\{\s*yoe\s*\}\}/g, yearsOfExperience.toString());
---

<Section title="About">
	<p>
		{processedSummary}
	</p>
</Section>
